@import "style_blog.css";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FFFFF0;
}


/*-----------------------header grid------------------------------------*/
.header {
    display: grid; /*объявляем тип разметки grid*/
    grid-template-columns: 1.5fr 5fr 2fr; /* задаем три колонки с размерами*/
    grid-template-areas: /*объявляем имена областей */
            "header-logo header-nav header-auth";
    grid-template-rows: 2fr;
    min-height: 200px;
    align-items: center; /*отцентровка по высоте*/
    grid-column-gap: 10px; /*размер линии сетки, а именнно линии столбца*/
    font-size: 18px;
}

.header img {
    width: 200px;
    height: auto;
}

.header a {
    text-decoration: none;
    color: #000000;
}
.header-logo {
    grid-area: header-logo;
    justify-self: center; /*отцентровка содержимого дочернего элемента сетки
                            по ширине в пределах своей ячейки*/

}

.header-nav {
    grid-area: header-nav;
    justify-self: center;
}

.header-auth {
    grid-area: header-auth;
    justify-self: center;
}

.header-nav_link { /*задаем отступы межды элементами меню*/
    margin-right: 20px;
}

.header-nav_link:last-child  { /*отменяем отступ у последнего элемента меню*/
    margin-right: 0;
}

.header-login_link  {
    margin-right: 20px; /*задаем отступы межды элементами меню*/
}

.header-registration_link {
    margin-right: 0;
}

/*------------сетка статьи----------------------------------------------*/
.section-news {
    display: grid; /*объявляем тип разметки grid*/
    grid-template-columns: 1fr 5fr 1fr; /* задаем три колонки с размерами*/
    grid-template-areas: /*объявляем имена областей */
            ". card-news .";
    grid-template-rows: 2fr;
    min-height: 200px;
    grid-column-gap: 10px; /*размер линии сетки, а именнно линии столбца*/
    font-size: 18px;
    justify-items: center;
}

.card-news {
    grid-area: card-news;
}

.section-other-news {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-template-areas: ". section-news-one . section-news-second .";
    grid-template-rows: 1fr;
    grid-gap: 5px;
    min-height: 300px;
    margin-top: 10px;

}

.section-news-one {
    grid-area: section-news-one;
}

.section-news-second {
    grid-area: section-news-second;
}
/*-----------------стилизация статьи блога-----------------------------*/

.card-news-center-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". card-news-image .";
}

.card-news-image {
    grid-area: card-news-image;
}

.card-info {
    color: #3c484e;
}

.card-image-one {
    background-image: url("../images/blogs-photo/blog-photo-one-small.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
}

.card-image-second {
    background-image: url("../images/blogs-photo/blog-photo-one-small.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
}
